.cart {
  width: 98%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 18px;
  box-sizing: border-box;

  @media (min-width: 998px) {
    flex-direction: row;
    align-items: initial;
    justify-content: space-around;
  }

  &__header {
    width: 100%;
    text-align: left;
  }

  .payment-details {
    width: 98%;
    max-width: 363px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    @media (min-width: 998px) {
      margin-top: 30px;
    }

    h5 {
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
    }

    &__info-container {
      width: 100%;
      margin-top: 2px;
      padding: 20px 10px;
      background-color: var(--primary-bg-color);
      box-shadow: var(--primary-box-shadow);
      border-radius: 4px;
    }

    &__info {
      width: 100%;
      display: flex;
      &:not(:last-child) {
        margin-bottom: 6px;
      }
      
      span {
        font-size: 16px;

        &:last-child {
          margin-left: auto;
          margin-right: 23px;
        }
      }

      .subtotal{
        font-weight: 700;
      }
    }

    &__buy {
      width: 100%;
      height: 48px;
      text-transform: uppercase;
      box-shadow: var(--secondary-box-shadow);
      border-radius: 4px;
    }
  }
}
.empty-cart {
  height: 100%;
}

.product-enter,
.product-leave-to {
  opacity: 0;
}

.product-enter {
  transform: translateY(30%);
}

.product-leave-to {
  transform: translateY(50%);
}

.product-leave-active {
  position: absolute;
}