.footer {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 30px;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  width: 100vw;
  min-height: 60px;
  box-shadow: var(--top-box-shadow);
  padding: 16px 0;

  .logo {
    font-size: 20px;
  }

  .sublogo {
    margin-top: -12px;
    font-size: 12px;
  }
}
