.home {
  .header {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: var(--primary-bg-color);

    &__content {
      display: flex;
      width: 100%;
      max-width: 1200px;
      padding: 10px 16px;
      text-transform: capitalize;
    }

    .greetings {
      font-size: 32px;

      &__address-block {
        display: flex;
        align-items: center;

        h2 {
          font-size: 24px;
        }
      }
    }

    .user-actions {
      display: flex;
      align-items: center;
      gap: 32px;
    }

    .user-info {
      position: relative;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        img {
          opacity: .7;
        }
      }
      
      img {
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 7;
      }
    }
    
    .user-data {
      opacity: 0;
      position: absolute;
      right: 0px;
      top: -8px;
      width: 210px;
      height: 0;
      padding: 5px 42px 15px 15px;
      background-color: rgba(0, 81, 157, 1);
      border-radius: 4px;
      text-transform: capitalize;
      transition: all .3s ease;
      z-index: -1;

      * {
        color: var(--primary-bg-color);
      }

      .email {
        text-transform: lowercase;
      }
    }

    .user-data--visible {
      opacity: 100;
      z-index: 6;
      height: 300px;
    }

    .user-image {
      border-radius: 50%;
    }

    .open-cart {
      position: relative;

      &__badge {
        position: absolute;
        right: -25%;
        width: 15px;
        height: 15px;
        background-color: var(--warning-bg);
        color: var(--primary-bg-color);
        border-radius: 50%;
        font-size: 8px;
      }
    }
  }

  .products {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-bg-color);
    transition: all .5s ease-in-out;

    &__header {
      width: 100%;
      margin: 50px auto 25px auto;
      padding: 0 16px;
    }

    .action-container {
      background-color: var(--primary-bg-color);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
      text-transform: capitalize;
      margin-top: 8px;
      cursor: pointer;
    }

    &__container {
      display: grid;
      width: 100%;
      justify-items: center;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      margin: 0 auto;
      padding: 0 16px;
      gap: 24px;
    }
  }

  .user-actions {
    margin-right: 0;
    margin-left: auto;
  }
}
