.product-page {
  &__title {
    font-weight: 700;
    margin-bottom: 32px;
    text-align: justify;
  }

  &__resume {
    width: 100%;
    max-width: 1200px;
    margin: 88px auto;
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid var(--input-border-color);
  }

  &__add {
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;
  }

  .rating-and-price {
    display: inline-block;
    margin-top: 36px;
    
    h2 {
      font-weight: 700;
      font-size: 48px;
    }

    p {
      color: var(--lowlight);
      font-size: 24px;
    }
  }

  &__image-container {
    text-align: center;
  }
 
  &__image {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  .add-to-favorites {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-left: auto;
    margin-right: 4%;
    margin-bottom: -20px;
    background-color: var(--input-border-color);
    border-radius: 50%;
  }

  &__buy-actions {
    margin-bottom: 32px;

    & > button {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }

  @media screen and (min-width: 992px) {
    &__resume {
      display: grid;
      grid-template-rows: 120px 200px 200px;
      grid-template-columns: auto 1fr 40px;
      row-gap: 12px;
      column-gap: 32px;
    }

    &__image-container {
      grid-column: 1/2;
      grid-row: 1/4;
      display: flex;
      text-align: left;

      img {
        max-width: 450px;
        height: 100%;
        width: auto;
        margin: 0;
      }
    }

    &__title {
      grid-column: 2/3;
      grid-row: 1/2;
      font-size: 32px;
      text-align: left;
    }

    .rating-and-price {
      grid-row: 2/3;
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      max-height: 200px;
    }

    &__buy-actions {
      grid-column: 2/4;
      grid-row: 3/4;
    }

    &__price-container {
      margin-top: auto;
      margin-bottom: 0;
    }

    .quantity-container {
      margin-bottom: 16px;
    }
  }
}
