<div
  class="add-cart-modal"  
  @click="hideAddToCartModal($event)"
>
  <div class="modal-dialog add-cart-modal__dialog">
    <div class="modal-content">
      <div class="modal-header add-cart-modal__header">
        <h3 class="modal-title">Escolha a quantidade</h3>
        <button
          class="add-cart-modal__close"
          type="button"
        >
          <span>
            <vue-feather type="x" />
          </span>
        </button>
      </div>
      <div class="modal-body add-cart-modal__body">
        <img
          :src="productInfo.image"
          alt=""
          width="136"
        >
        <div class="add-cart-modal__info">
          <h5>{{ productInfo.title }}</h5>
          <div class="quantity-selector">
            <button
              :class="['quantity-selector__minus btn btn__icon-only', {'disabled': quantity <= 1}]"
              @click="decrementQuantity"
            >
              <vue-feather type="minus"/>
            </button>
            <input
              v-model="quantity"
              class="quantity-selector__input"
              type="text"
            >
            <button
              class="quantity-selector__plus btn btn__icon-only"
              @click="incrementQuantity"
            >
              <vue-feather type="plus" />
            </button>
          </div>
          <div class="add-cart-modal__actions">
            <button
              class="btn btn-link add-cart-modal__cancel"
              @click="hideAddToCartModal($event)"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-primary add-cart-modal__buy"
              @click="addProductToCart"
            >
              Comprar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>