<section
  v-if="cartItems && Object.keys(cartItems).length"
  class="cart"
>
  <div class="cart__items">
    <transition-group name="product" tag="div">
      <checkout-card
        v-for="(item, index) in cartItems"
        :key="`product${item.id}`"
        :product-info="item"
        :index="index"
        @updateProductQuantity="updateProductQuantity"
        @removeProductFromCart="removeProductFromCart"
      ></checkout-card>
    </transition-group>
  </div>
  <div class="payment-details">
    <h5>
      Detalhes do Pagamento
    </h5>
    <div class="payment-details__info-container">
      <div class="payment-details__info">
        <span>Número de itens:</span>
        <span>{{ `${cartItems.length} itens` }}</span>
      </div>
      <div class="payment-details__info">
        <span>Subtotal</span>
        <span class="subtotal">{{ subtotal }}</span>
      </div>
    </div>
    <button
      class="btn btn-success payment-details__buy"
      @click="finishRedirect"
    >
      Finalizar compra
    </button>
  </div>
</section>
<div v-else class="empty-cart">
  <h5>
    Carrinho vazio...
  </h5>
  <img src="@/assets/img/empty_cart.svg" alt="Carrinho Vazio" width="250">
</div>
