<footer class="footer">
  <div class="footer-content">
    <div class="copyright-session d-flex gap-2 align-items-center">
      <p class="text-center">
        Copyright &#169; <time :date-time="currentTime">{{ currentYear}}</time>
      </p>
      <div class="logo-container mb-3">
        <img src="/goodbuy_logo_dark.png" alt="GoodBuy Logo" width="73" height="36">
      </div>
    </div>
    <div class="dev-credits">
      <p>
        Developed with ♥ by
        <a href="https://github.com/sameoldcarlos" target="_blank">Carlos Alves</a>
      </p>
    </div>
  </div>
</footer>