<footer class="footer">
  <div class="footer-content">
    <div class="copyright-session d-flex gap-2 align-items-center"> 
      <p class="text-center">
        Copyright &#169; <time :date-time="currentTime">{{ currentYear}}</time>
      </p>
      <div class="logo-container mb-3">
        <p class="logo mb-0">GoodBuy</p>
        <p class="sublogo mb-0">store</p>
      </div>
    </div>
    <div class="dev-credits">
      <p>
        Developed with ♥ by
        <a href="https://github.com/sameoldcarlos" target="_blank">Carlos Alves</a>
      </p>
    </div>
  </div>
</footer>