<header class="header">
  <div class="header__content">
    <div class="menu-button-container d-flex align-items-center d-lg-none me-3">
      <button
        class="btn__icon-only"
        @click="openMobileMenu"
      >
        <vue-feather type="menu" :stroke="iconLight" :size="36"></vue-feather>
      </button>
    </div>
    <div class="logo-container">
      <router-link :to="{ name: 'home' }">
        <p class="logo mb-0">GoodBuy</p>
        <p class="sublogo mb-0">store</p>
      </router-link>
    </div>
    <Menu
      menu-options="menuOptions"
    />
    <nav class="user-actions">
      <router-link v-if="isMobile" :to="{ name: 'checkout', params: { cart_items: JSON.stringify(cartItems) } }"
        class="user-actions__action open-cart">
        <vue-feather type="shopping-bag" size="28" :stroke="iconLight" />
        <span v-if="cartItems.length" class="badge badge-primary open-cart__badge">
          {{ cartItems.length }}
        </span>
      </router-link>
      <button
        v-else
        class="user-actions__action open-cart btn-icon-only"
        @click="toggleCart"
      >
        <vue-feather type="shopping-bag" size="28" :stroke="iconLight" />
        <span v-if="cartItems.length" class="badge badge-primary open-cart__badge">
          {{ cartItems.length }}
        </span>
      </button>
      <button class="user-actions__action user-info" @click="isUserInfoVisible = !isUserInfoVisible">
        <img :src="profilePicture" alt="" width="40" height="40" class="user-image">
        <div v-if="!isWaitingUserFetch" class="user-data" :class="{'user-data--visible': isUserInfoVisible}">
          <p>
            <strong>Nome</strong>
          <p>{{ userData.name.firstname }} {{ userData.name.lastname }}</p>
          </p>
          <p>
            <strong>Endereço</strong>
          <p>{{ userData.address.number }}, {{ userData.address.street }}, {{ userData.address.city }}</p>
          </p>
          <p>
            <strong>Telefone</strong>
          <p>{{ userData.phone }}</p>
          </p>
          <p>
            <strong>Email</strong>
          <p class="email">{{ userData.email }}</p>
          </p>
        </div>
      </button>
    </nav>
  </div>
</header>
