<header class="header">
  <div class="header__content">
    <div class="menu-button-container d-flex align-items-center d-lg-none me-3">
      <button
        class="btn__icon-only"
        @click="openMobileMenu"
      >
        <vue-feather type="menu" :stroke="iconLight" :size="36"></vue-feather>
      </button>
    </div>
    <div class="logo-container">
      <a href="/">
        <p class="logo mb-0">GoodBuy</p>
        <p class="sublogo mb-0">store</p>
      </a>
    </div>
    <Menu
      menu-options="menuOptions"
    ></Menu>
    <nav class="user-actions">
      <router-link v-if="isMobile && cartItems" :to="{ name: 'checkout', params: { cart_items: JSON.stringify(cartItems) } }"
        class="user-actions__action open-cart">
        <vue-feather type="shopping-bag" size="28" :stroke="iconLight" />
        <span v-if="cartItems.length" class="badge badge-primary open-cart__badge">
          {{ cartItems.length }}
        </span>
      </router-link>
      <button
        v-else-if="cartItems"
        class="user-actions__action open-cart btn-icon-only"
        @click="toggleCart"
      >
        <vue-feather type="shopping-bag" size="28" :stroke="iconLight" />
        <span v-if="cartItems.length" class="badge badge-primary open-cart__badge">
          {{ cartItems.length }}
        </span>
      </button>
      <button class="user-actions__action user-info" @click="isUserInfoVisible = !isUserInfoVisible">
        <img :src="profilePicture" alt="" width="40" height="40" class="user-image">
        <div v-if="!isWaitingUserFetch" class="user-data" :class="{'user-data--visible': isUserInfoVisible}">
          <p>
            <strong>{{ textContent.name }}</strong>
          <p>{{ userData.name.firstname }} {{ userData.name.lastname }}</p>
          </p>
          <p>
            <strong>{{ textContent.address }}</strong>
          <p>{{ userData.address.number }}, {{ userData.address.street }}, {{ userData.address.city }}</p>
          </p>
          <p>
            <strong>{{ textContent.phone }}</strong>
          <p>{{ userData.phone }}</p>
          </p>
          <p>
            <strong>{{ textContent.email }}</strong>
          <p class="email">{{ userData.email }}</p>
          </p>
        </div>
      </button>
      <div class="language-select">
        <button
          :class="['btn btn-icon-only d-flex', {'lang-button--inactive': isLangOptionsVisible}]"
          @click="openLangOptions"
        >
          <img :src="selectedLanguageFlag" width="25" height="25">
          <vue-feather type="chevron-down" size="24" :stroke="iconLight" />
        </button>
        <div
          :class="['lang-options', {'d-none': !isLangOptionsVisible}]">
          <button
            class="btn btn-icon-only lang-option d-flex gap-2"
            @click="setSelectedLanguage('en')"
          >
            <img :src="flags.usa" alt="United States Flag" width="25" height="25">
            <span>EN</span>
          </button>
          <button
            class="btn btn-icon-only lang-option d-flex gap-2"
            @click="setSelectedLanguage('pt')"
          >
            <img :src="flags.brazil" alt="Brazil Flag" width="25" height="25">
            <span>PT</span>
          </button>
          <button
            class="btn btn-icon-only lang-option d-flex gap-2"
            @click="setSelectedLanguage('es')"
          >
            <img :src="flags.mexico" alt="Mexico Flag" width="25" height="25">
            <span>ES</span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</header>
