<div
  class="home"
  :class="{'modal-open': isAddCartModalVisible}"
>
  <header class="header">
    <section class="header__content">
      <div
        v-if="!isWaitingUserFetch"
        class="greetings"
      >
        <h1>
          Hi, {{ userData.name.firstname }}
        </h1>
        <div class="greetings__address-block">
          <h2>
            {{ userData.address.number }}
            {{ userData.address.street }}
          </h2>
          <vue-feather type="chevron-down" size="32" :stroke="highlightColor" />
        </div>
      </div>
      <nav class="user-actions">
        <router-link 
          :to="{ name: 'checkout', params: { cart_items: JSON.stringify(cartItems) } }"
          class="user-actions__action open-cart"
        >
          <vue-feather
            type="shopping-bag"
            size="28"
            :stroke="highlightColor"
          />
          <span
            v-if="cartItems.length"
            class="badge badge-primary open-cart__badge"
          >
            {{ cartItems.length }}
          </span>
        </router-link>
        <div
          class="user-info"
          @mouseenter="isUserInfoVisible = true"
          @mouseleave="isUserInfoVisible = false"
          @click="isUserInfoVisible = !isUserInfoVisible"
        >
          <img
            src="https://thispersondoesnotexist.com/"
            alt=""
            width="42"
            height="39"
            class="user-image"
          >
          <div
            v-if="!isWaitingUserFetch"
            class="user-data"
            :class="{'user-data--visible': isUserInfoVisible}"
            @mouseenter="isUserInfoVisible = true"
            @mouseleave="isUserInfoVisible = false"
          >
            <h6>
              Nome:
              <span>
                {{ userData.name.firstname }}
                {{ userData.name.lastname }}
              </span>
            </h6>
            <h6>Endereço:
              <span>
                {{ userData.address.number }},
                {{ userData.address.street }},
                {{ userData.address.city }}
              </span>
            </h6>
            <h6>Telefone:
              <span>
                {{ userData.phone }}
              </span>
            </h6>
            <h6>
              Email:
              <span class="email">
                {{ userData.email }}
              </span>
            </h6>
          </div>
        </div>
      </nav>
    </section>
  </header>
  <main>
    <search-bar
      @searchFor="fetchProducts({search: $event})"
    ></search-bar>
    <section class="products">
      <div class="products__header d-flex justify-content-center">
        <h3>Produtos</h3>
        <div
          v-if="!isWaitingCategoriesFetch"
          class="categories-selector"
        >
          <p class="categories-selector__title">
            Categorias
          </p>
          <button
            class="categories-selector__btn"
            @click="toggleCategories"
          >
            <vue-feather
              :type="categoriesIcon"
              size="32"
              :stroke="highlightColor"
            />
          </button>
        </div>
      </div>
      <div
        v-if="categoriesList.length"
        class="categories-container"
        :class="{'categories-container--visible': isCategoriesVisible}"
      >
        <div
          class="category"
          @click="fetchProducts({})"
        >
          Todas
        </div>
        <div
          v-for="category in categoriesList"
          class="category"
          @click="fetchProducts({category})"
        >
          {{ translatedCategory(category) }}
        </div>
      </div>
      <div
        v-if="!isWaitingProductsFetch"
        class="products__container"
      >
        <product-card
          v-for="product in productsList"
          :product-info="product"
          :is-adding-product-to-cart="isAddingProductToCart"
          @showAddToCartModal="showAddToCartModal"
        ></product-card>
      </div>
      <div 
        v-else
        class="spinner-border text-primary"
        role="status"
      >
        <span class="visually-hidden">
          Loading...
        </span>
      </div>
    </section>
  </main>
  <add-cart-modal
    v-if="isAddCartModalVisible"
    :product-info="selectedProduct"
    @addToCart="addToCart"
    @hideAddToCartModal="hideAddToCartModal"
  ></add-cart-modal>
</div>
