<div
  class="home"
  :class="{'modal-open': isAddCartModalVisible}"
>
  <header class="header">
    <section class="header__content">
      <div
        v-if="!isWaitingUserFetch"
        class="greetings"
      >
        <h1>
          Hi, {{ userData.name.firstname }}
        </h1>
        <div class="greetings__address-block">
          <h2>
            {{ userData.address.number }}
            {{ userData.address.street }}
          </h2>
          <vue-feather type="chevron-down" size="32" :stroke="highlightColor" />
        </div>
      </div>
      <nav class="user-actions">
        <router-link 
          :to="{ name: 'checkout', params: { cart_items: JSON.stringify(cartItems) } }"
          class="user-actions__action open-cart"
        >
          <vue-feather
            type="shopping-bag"
            size="28"
            :stroke="highlightColor"
          />
          <span
            v-if="cartItems.length"
            class="badge badge-primary open-cart__badge"
          >
            {{ cartItems.length }}
          </span>
        </router-link>
        <button
          class="user-info"
          @click="isUserInfoVisible = !isUserInfoVisible"
        >
          <img
            src="https://thispersondoesnotexist.com/"
            alt=""
            width="40"
            height="40"
            class="user-image"
          >
          <div
            v-if="!isWaitingUserFetch"
            class="user-data"
            :class="{'user-data--visible': isUserInfoVisible}"
          >
            <p>
              <strong>Nome</strong>
              <p>{{ userData.name.firstname }} {{ userData.name.lastname }}</p>
            </p>
            <p>
              <strong>Endereço</strong>
              <p>{{ userData.address.number }}, {{ userData.address.street }}, {{ userData.address.city }}</p>
            </p>
            <p>
              <strong>Telefone</strong>
              <p>{{ userData.phone }}</p>
            </p>
            <p>
              <strong>Email</strong>
              <p class="email">{{ userData.email }}</p>
            </p>
          </div>
        </button>
      </nav>
    </section>
  </header>
  <main>
    <search-bar
      @searchFor="fetchProducts({search: $event})"
    ></search-bar>
    <section class="products">
      <div class="products__header">
        <h3 class="mb-4">Produtos</h3>
        <div class="d-flex justify-content-between gap-2">
          <div class="order">
            <label for="orderSelect">
              Ordenar
              <vue-feather size="16" type="arrow-up" style="margin-right: -8px" />
              <vue-feather size="16" type="arrow-down" />
            </label>
            <select
              id="orderSelect"
              class="form-select form-select-md action-container"
              aria-label="Default select example"
              v-model="selectedOrder"
            >
              <option value="" disabled>Selecione</option>
              <option
                v-for="order in orderOptions"
                :key="order.value"
                :value="order.value"
              >{{ order.label }}</option>
            </select>
          </div>
          <div class="order">
            <label for="filterSelect">
              Filtrar por categoria
              <vue-feather size="16" type="filter" />
            </label>
            <select
              id="filterSelect"
              class="form-select form-select-md action-container"
              v-model="selectedCategory"
            >
              <option class="category" value="">Todas</option>
              <option
                v-for="category in categoriesList"
                :key="category"
                :value="category"
              >
                {{ translatedCategory(category) }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div
        v-if="!isWaitingProductsFetch"
        class="products__container"
      >
        <product-card
          v-for="product in productsList"
          :product-info="product"
          :is-adding-product-to-cart="isAddingProductToCart"
          @showAddToCartModal="showAddToCartModal"
        ></product-card>
      </div>
      <div 
        v-else
        class="spinner-border text-primary"
        role="status"
      >
        <span class="visually-hidden">
          Loading...
        </span>
      </div>
    </section>
  </main>
  <add-cart-modal
    v-if="isAddCartModalVisible"
    :product-info="selectedProduct"
    @addToCart="addToCart"
    @hideAddToCartModal="hideAddToCartModal"
  ></add-cart-modal>
</div>
