<div
  v-if="Object.keys(productInfo)"
  class="product-card card p-2">
  <div class="product-card__header">
    <button
      class="add-to-favorites"
      @click="toggleFavorite"
    >
      <vue-feather
        class="product-card__add-to-favorites"
        type="heart"
        :fill="favoriteColors.fill"
        :stroke="favoriteColors.stroke"
        size="18"
        alt="Adicionar aos favoritos"
      />
    </button>
    
  </div>
  <div class="product-card__img-container d-flex">
    <img 
      :src="productInfo.image"
      class="product-card__image card-img-top"
      :alt="productInfo.title"
    >
  </div>
  <div class="card-body px-2 py-1">
    <p
      class="product-card__title card-title text-center"
      :title="productInfo.title"
    >
      {{ productInfo.title }}
    </p>
    <div class="d-flex justify-content-between mt-3">
      <h3 class="product-card__price py-1">
        {{ formattedPrice }}
      </h3>
      <div>
        <div class="rating d-flex align-items-center gap-1">
          <vue-feather type="star" size="16" :stroke="ratingStars" />
          {{ productInfo.rating.rate }}
        </div>
      </div>
    </div>
    <button
      :class="['btn btn-success w-100 product-card__add', {'disabled': isAddingProductToCart}]"
      @click="showAddToCartModal"
    >
      Adicionar
    </button>
  </div>
</div>