<div class="product-page">
  <div
    :class="['mobile-menu-overlay', {'mobile-menu-overlay--visible': isMobileMenuActive}]"
    @click="closeMobileMenu"
  ></div>
  <Header :cart-items="cartItems" @openMobileMenu="openMobileMenu" @toggleCart="toggleCart"></Header>
  <MenuMobile :is-active="isMobileMenuActive" @closeMobileMenu="closeMobileMenu"></MenuMobile>
  <aside class="cart-container">
    <CartContainer class="cart--aside" @hideCart="hideCart" :is-visible="isCartVisible"></CartContainer>
  </aside>
  <div v-if="isWaitingProductsFetch" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">
      Loading...
    </span>
  </div>
  <main v-else class="main-container">
    <SearchBar/>
    <section class="product-page__section product-page__resume">
      <h1 class="product-page__title">{{ product.title }}</h1>
      <button class="btn__icon-only add-to-favorites">
        <vue-feather type="heart" />
      </button>
      <div class="product-page__image-container">
        <img class="product-page__image" :src="product.image" alt="Imagem do Produto">
      </div>
      <div class="rating-and-price">
        <RatingStars v-if="product && product.rating" :rating="product.rating.rate" :count="product.rating.count" showAdditionalInfo/>
        <div class="product-page__price-container">
          <h2 class="product-price">{{ productPrice }}</h2>
          <p class="product-conciliations">ou em até {{ installmentsCount }}x de {{ installmentValue }}</p>
        </div>
      </div>
      <div class="product-page__buy-actions">
        <div class="quantity-container d-flex flex-column mb-2">
          <p class="mb-1 text--normal">Quantidade</p>
          <div class="quantity-selector w-100">
            <button
              :class="['quantity-selector__minus btn btn__icon-only', {'disabled': quantity <= 1}]"
              @click.stop="decrementQuantity"
            >
              <vue-feather type="minus"/>
            </button>
            <input
              v-model="quantity"
              class="quantity-selector__input"
              type="text"
            >
            <button
              class="quantity-selector__plus btn btn__icon-only"
              @click.stop="incrementQuantity"
            >
              <vue-feather type="plus" />
            </button>
          </div>
        </div>
        <button
          :class="['btn btn-success w-100 product-page__add text-uppercase', {'disabled': isAddingProductToCart}]"
          @click="buyNow"
        >
          Comprar Agora
        </button>
        <button
          class="btn btn-outline-primary w-100 text-uppercase"
          @click="addToCart"
        >
          <vue-feather type="shopping-bag" />
          Adicionar à sacola
        </button>
      </div>
    </section>
    <section class="product-page__section related-products">
      <h2 class="text-center mb-5">Produtos Relacionados</h2>
      <ProductCarousel v-if="!isWaitingProductsFetch && relatedProducts.length" :products="relatedProducts" />
    </section>
    <section class="product-page__section product-description">
      <h2 class="mb-5">Sobre este produto</h2>
      <p class="product-page__description">
        {{ product.description }}
      </p>
    </section>
    <section class="product-page__section product-rate">
      <h2 class="mb-5">Avaliação dos clientes</h2>
      <div class="section-content d-flex flex-column flex-lg-row gap-4 py-4">
        <div class="ratings">
          <RatingStars class="rating-stars--rating-section" v-if="product && product.rating" :rating="product.rating.rate" :count="product.rating.count" showAdditionalInfo />
          <hr>
          <RatingBars v-if="product && product.rating" :count="product.rating.count" showAdditionalInfo />
        </div>
        <div class="comments-container">
          <Comments
            :comments="comments"
          />
        </div>
      </div>
    </section>
    <Toast ref="toast" />
  </main>
  <Footer />
</div>
