:root {
  --primary-bg-color: #FFFFFF;
  --secondary-bg-color: #F5F5F5;
  --primary-text-color: #3B3F51;
  --primary-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  --secondary-box-shadow: 0px 2px 5px rgba(38, 48, 60, 0.2);
  --input-border-color: #F2F6F9;
  --highlight: #1F41FC;
  --highlight-dark: #00519D;
  --lowlight: #707070;
}
