@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  // Colors
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
  --primary-text-color: #333333;
  --primary-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  --secondary-box-shadow: 0px 2px 5px rgba(38, 48, 60, 0.2);
  --right-box-shadow: 0 0 0 2px rgba(38, 48, 60, 0.2);
  --top-box-shadow: 0px -5px 5px 0px rgba(38, 48, 60, 0.2);
  --input-border-color: #c5c5c5;
  --highlight: #2979ab;
  --highlight-dark: #1e597e;
  --highlight-light: #3498db;
  --lowlight: #707070;
  --success: #27ae60;
  --success-dark: #229548;
  --warning-bg: #e65b0b;
  --danger: #e74c3c;
  --rating-stars: #bbbb44;

  // Fonts
  --primary-font-family: 'Roboto';
  --secondary-font-family: 'Montserrat';
  --logo-font-family: 'Kaushan Script'
}
